body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #e88c42;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 720px;
     height: 480px;

}

.start-end-screen{
position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-image: url('./assets/desert-4258740_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.start-buttons {
    display: flex;
    gap: 20px;
}

.start-buttons button {
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #ffae00;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.start-buttons button:hover {
    background-color: #ffcc00;
}

.symbols{
    width: 30px;
    height: 30px;
}


#end-screen.hidden {
    display: none !important;
}

#end-screen img {
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
}

#end-text {
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
