body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #e88c42;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: black;

}

